<mat-card *ngIf="price">
  <mat-card-title fxLayout="row" fxLayoutAlign="start center">
    <mat-icon>attach_money</mat-icon>
    Price Info
  </mat-card-title>
  <mat-card-content>
    <div class="table-container">
      <table>
        <ng-container *ngIf="price">
          <tr>
            <td>Price</td>
            <td>{{price.lastPrice}} EOS</td>
          </tr>
          <tr>
            <td>Volume 24h(YAS)</td>
            <td>{{price.baseVolume}} YAS</td>
          </tr>
          <tr>
            <td>Volume 24h(EOS)</td>
            <td>{{price.quoteVolume}} EOS</td>
          </tr>
          <tr>
            <!--<td>% Change 1h</td>-->
            <!--<td>-->
              <!--{{usd.percent_change_1h / 100 | percent:'1.2'}}-->
              <!--<app-price-trending [percentage]="usd.percent_change_1h"></app-price-trending>-->
            <!--</td>-->
          <!--</tr>-->
          <tr>
            <td>Change 24h</td>
            <td>
              {{price.priceChangePercent | percent:'1.2'}}
              <app-price-trending [percentage]="price.priceChangePercent"></app-price-trending>
            </td>
          </tr>
          <!--<tr>-->
            <!--<td>% Change 7d</td>-->
            <!--<td>-->
              <!--{{usd.percent_change_7d / 100 | percent:'1.2'}}-->
              <!--<app-price-trending [percentage]="usd.percent_change_7d"></app-price-trending>-->
            <!--</td>-->
          <!--</tr>-->
        </ng-container>
        <tr>
          <td>Circulating Supply</td>
          <td>{{stats.YAS.supply}}</td>
        </tr>
        <tr>
          <td>Total Supply</td>
          <td>{{stats.YAS.max_supply}}</td>
        </tr>
      </table>
    </div>
  </mat-card-content>
</mat-card>
